
.heading{
    border: 8px double rgb(194, 18, 18);
    text-align: center;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(194, 18, 18);
    text-decoration: underline;
    background-color: rgb(13, 172, 119);
}
.first{
    margin: 12px;
    
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px solid none;
    background-color: rgb(43, 176, 253);
    width: 715px;
    height: 225px;
    
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(43, 3, 3);

}
.second{
    margin: 12px;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px solid none;
    background-color: rgb(240, 183, 28);
    width: 550px;
    height: 225px;
    
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(43, 3, 3);
}
.third{
    margin: 20px;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px solid none;
    background-color: rgb(245, 126, 57);
    width: 300px;
    height: 510px;
    
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(43, 3, 3);
}
.fourth{
    margin: 20px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px solid none;
    background-color: rgb(240, 42, 144);
    width: 932px;
    height: 300px;
    
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(43, 3, 3);
}
.fifth{
    margin: 20px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    border: 3px solid none;
    background-color: rgb(180, 243, 98);
    width: 930px;
    height: 165px;
    
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(18, 4, 68);
}
.firstperson{
    
    padding: 5px;
    width: 110px;
    padding-bottom: 0px;
    
    
    margin-left: 100px;

}
img{
    border-radius: 60%;
}
.profilepic{
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    /* size: 20px; */
   
}

#verify{
    font-size: smaller;
    padding-top: 0px;
    margin-top: 0px;
    color: rgb(20, 19, 19);
}
